*{
    margin: 0;
}

.app{
    position: relative;
    margin: auto;
    text-align: center;
}

.app img{
    width: 100%;
    opacity: 0.5;
}

.container{
    position: absolute;
    padding-top: 1rem;
    background-color:aqua;
    width: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container h1{
    padding: .5rem;
}

select{
    padding: .3rem;
    margin: .5rem;
    border-radius: 5px;
}

input{
    padding: 0.2rem;
    margin: .5rem;
    border-radius: 5px;
    border: 1px solid black;
}

button{
    padding: 0.4rem 1rem;
    margin: .5rem;
    border-radius: 10px;
}

.result{
    padding: 0.3rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.quantity{
    width: 10%;
}

.footer{
    margin: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(98, 230, 230);
    padding: 1rem 0;
  }
  
  .footer-icon .fa{
    text-decoration: none;
    padding: 1rem;
    padding-top: 0;
    font-size: 2rem;
  }
  
  .footer-info a{
    padding: 1rem;
    text-decoration: none;
  }
 
  @media only screen and (max-width: 769px) {
    .app{
        position: static;
    }

    .app img{
        display: none;
    }
    .container{
        height: 100vh;
        text-align: center;
        width: 100%;
    }
    
    .container h1{
        margin-top: 1.5rem;
    }

    select, input{
        display: block;
        margin: auto;
    }

    .footer{
        margin-top: auto;
    }
  }